.main{
    border-left:5px solid rgba(196, 196, 196, 0.35);
    border-right:5px solid rgba(196, 196, 196, 0.35);
    box-shadow:0 -2px 5px rgba(112, 128, 144, 0.09);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.masterStyle{
    background-image: linear-gradient(to right, #38afee, #45b5f1, #50baf3, #5bc0f6, #65c5f8);
    border-radius:4px ;
    border:2px solid rgba(255, 255, 255, 0.68);

}
.studentStyle{
    border-radius:4px ;
    border:2px solid rgba(255, 255, 255, 0.68);
    background-image: linear-gradient(to right top, rgba(241, 0, 120, 0.4), rgba(246, 51, 137, 0.4), rgba(249, 76, 154, 0.4), rgba(252, 97, 170, 0.4), #ff73b9);


}