.main{
    background:url("https://res.cloudinary.com/dzxorfube/image/upload/v1710677912/samples/zzi3apeyfdpibgougfix.png");
}
.msgBox{
    box-shadow: 2px 2px 10px slategray;
    border-radius:100px 2px 100px 2px;
}