.mainLayout{
    background-image: url("https://www.intelliwavetechnologies.com/wp-content/uploads/construction-background-lighter.jpg?id=5012");
}
.layoutBox{

    box-shadow: 0 8px 32px 0 rgb(250, 214, 214);
    background: rgba( 255, 255, 255, 0.05 );

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}