.bg1{
    width: 100px;
    height: 100vh;
    transform: rotate(-12.045deg);
    flex-shrink: 0;
    fill: #CFDBE4;
    filter: blur(200px);
}
.bg2{
    width: 50%;
    height: 100vh;
    flex-shrink: 0;
    fill: #FFCED8;
    filter: blur(200px);
}
.contactRightBox{
    background-image: linear-gradient(to top, #0f172a, #1b2338, #283046, #353e54, #424c63);
    border-radius: 0 25px 25px 0;
}
.leftBox{
    background:white;
    border-radius: 25px 0 0 25px;
}
.mainBox{
    box-shadow:2px 2px 20px rgba(128, 128, 128, 0.55);
    border-radius: 25px;


}
.heroText{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inputGroup{
    box-shadow:5px 5px 10px rgba(128, 128, 128, 0.35);
    border-radius: 5px;
}
.sendBut{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);

}