
.main{
    border-radius:50px 50px  0 0 ;
    box-shadow:0 -5px 10px rgba(172, 175, 178, 0.68);
    background-image: linear-gradient(to top, #0f172a, #1b2338, #283046, #353e54, #424c63);
}

@media only screen and (max-width: 600px) {
    .main
    {
        border-radius: 10px 10px 0 0;
    }
}
