.subFooter{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);

    border-radius:10px 10px 10px 10px;
    border-top:5px solid rgba(255, 255, 255, 0.48);
    border-bottom:5px solid rgba(255, 255, 255, 0.48);
}
.startBtn{
    color:#f63389;
    border-radius:8px;
    font-weight: 500;
    box-shadow:2px 2px 20px rgba(245, 245, 245, 0.72);
}