
.main{
    border-radius: 0 0 250px 0;
    background:url("https://res.cloudinary.com/dzxorfube/image/upload/v1709030371/samples/ftbfmk1sg61mieyks0it.png");
    box-shadow:5px 5px 10px #e7e7e7;

}

.heroMain{
    font-family: "Anta","Poppins", sans-serif;
        font-weight: 700;
        font-size: 45px;
    background-image: linear-gradient(to right top, #5b5b5b, #6d6d6d, #7f807f, #939393, #a6a6a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.futurestyles{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.heroSub{
    box-shadow:3px 3px 3px rgba(128, 128, 128, 0.45);
    background-image: linear-gradient(to right top, #fd0282, #fe2a8e, #ff3e99, #ff4ea4, #ff5caf);
}

.exploreBtn{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    box-shadow: 5px 5px 20px #f87aa5;
    border-radius: 8px;
}
.floatingBox{
    box-shadow: 0 8px 32px 0 rgba(192, 192, 192, 0.12);
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    animation: shake 3s infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) ; }

    50% { transform: translate(10px, 20px) ; }
    100% { transform: translate(1px, 1px) ; }
}

@media only screen and (max-width: 420px) {
    .heroMain{
        font-size:25px;
    }
    .main{
        border-radius: 0 0 150px 0;
    }

}
