@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    scroll-behavior: smooth;

}

::-webkit-scrollbar-thumb:hover {
    background: #f63389;
    scroll-behavior: smooth;
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb:horizontal{
    background: #ffffff;
    border-radius: 10px;
    width: 5px !important;
    height: 5px !important;
    scroll-behavior: smooth;
}
