.mainHeading{
    text-shadow: 2px 2px 5px rgba(134, 134, 134, 0.18);
}
.inputOverride{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.loginBtn{
    background-image: linear-gradient(to right bottom, #f8b2e5, #f4a7d8, #f19bcb, #ec90be, #e885b0);
    box-shadow: 4px 4px 4px darkgray;
    border-radius: 5px;
}
.inputGroup{
    box-shadow:5px 5px 10px rgba(128, 128, 128, 0.35);
    border-radius: 5px;
}


