.mainDialog{
    box-shadow: 0 0 10px slategray;
    border-radius:20px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.profileSection{
    border-radius:8px;
}
.profileSection:hover{
    transition: all 0.3s ease-in-out;
    background: rgba(134, 131, 131, 0.19);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    scale: 1.05;
    cursor:pointer;
}
.myTextBox{
    background :transparent;
    outline:none;
}
.myTextBox:active{
    outline:none;
}
.postBtn{
    background-image: linear-gradient(to right top, #f10078, #f63389, #f94c9a, #fc61aa, #ff73b9);
    box-shadow: 5px 5px 20px #f87aa5;
    border-radius:5px;


}
.addImageBtn{
    transition: all 0.3s ease-in-out;
    background: rgba(213, 211, 211, 0.18);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );


}
.rephraseBtn{
    border-radius:5px 5px 5px 5px;
    background-image: linear-gradient(to right top, rgba(241, 0, 120, 0.4), rgba(246, 51, 137, 0.4), rgba(249, 76, 154, 0.4), rgba(252, 97, 170, 0.4), #ff73b9);
    box-shadow:2px 2px 20px rgba(241, 0, 120, 0.4);


}
